h1 {
    margin-left: 50px;
}

.wrapper {
    max-width: 550px;
    margin: auto;
    margin-top: 50px;
}

.question {
    margin-bottom: 40px;
}

.answers {
    margin-bottom: 40px;
}

.answers li {
    border: 1px solid #f6f6f6;
    cursor: pointer;
}

.answers li a {
    color: #333;
    font-size: 18px;
}

.answers li.correct {
    background-color: #518640;
}

.answers li.incorrect {
    background-color: #af0128;
}

.answers li.incorrect a,
.answers li.correct a {
    color: #fff;
}

.complete .answers li a:hover {
    background: none;
    cursor: default;
}

div.submit {
    clear: both;
    text-align: center;
}

button.submit {
    clear: both;
    margin: auto;
}
